{% extends "base_lugha.html" %}


{% block content %}
<h2>&nbsp Tunatoa shughuli zifuatazo:</h2>
<br>
<h3>1. Hiking</h3>
&nbsp&nbsp Tunachukua utalii mkutano wa mlima. Mlima Hanang 'ni mlima wa nne wa juu kabisa nchini, una mashituni ya tatu na ya tatu ambayo ni ya juu ina kiwango cha mita 3420 juu ya kiwango cha bahari
Mlima una. aina nyingi za mimea, sumu na mimea ya dawa
Safari yangu mlima Hanang '
Kuna muda mrefu na hatua ambayo uvumilivu na maji ya kutosha kutoka kiparaa hadi mkutano wa kwanza
Si: safari inaweza kuchukua 10 hadi 11hrs kwenda na nyuma. bora ni usiku wa mkutano wa kwanza na siku ya pili asubuhi mapema asubuhi kuanza safari ya kuchukua juu na kisha kurudi kwa chakula cha mchana kwenye firs pick kisha baada ya kuamua
Lakini wakati mwingine tunaweza kuwa na ndege kuangalia katika maeneo kote ya mlima. Mlima ni nzito ya aina mbalimbali za ndege
<br>
<h3>2. Utalii wa kitamaduni</h3>
&nbsp&nbsp 
Tunaweza pia kutembelea tamaduni za Barbaig. Bilaba ya Barbaig iko kwenye kabila la Tanzania ambalo linaendelea kuwa na utamaduni. Watu kutoka kabila hili wamevaa ngozi kwa kufunika miili lakini ni vizuri sana kupambwa na vitanda tofauti kama ilivyoonekana hapo chini
mchezo wa mtoto. Ninapenda kufanya kazi na watoto, nawapenda mimi ni mzuri wa kuwatunza na kuwapa michezo na michezo lakini kufundisha michezo ya uchawi. kwa uaminifu napenda kuokoa watoto
<br>
<br>
<h2>&nbsp Maelezo ya mawasiliano: </h2>
    +255688444262 ni hewa ya hewa<br>
    +255753131703 ni vodacom <br>
    Whatsapp: +255688444162 <br>
    Stephinlawrence@yahoo.com <br>
    Stephinlawrence014@gmail.com

    {% endblock %}