{% extends "base.html" %}

{% block content %}

<h2>&nbspWe are offering the following activities:</h2>
<br>
<h3>1. Hiking</h3>
&nbsp&nbsp We are taking a tourist to summit of the mountain. Mount Hanang' is the fourth highest mountain in the country, it has three summits and third which is highest has the point of 3420 meters above sea level
The mountain has. a lots of plants species, poison as well as medicinal plants
My trip a mount Hanang'
There is long and step which tolerance with enough water from kiparaa to the first summit
Not: the trip can take 10 up to 11hrs going and back. better is to overnight at the first summit and next day early in the morning begin the journey to the highest pick and then back to have a lunch at the firs pick then after is to decend
But sometimes we can have a bird watching at areas around the mountain.The mountain is heavy of different bird species
<br>
<h3>2. Cultural tourism</h3>
&nbsp&nbsp We can also visiting Barbaig cultures.Barbaig tribe is on of Tanzanian tribe which is still maintaining they culture. The people from this tribe wearing got skins for covering they bodies but is real well decorated with different beds as it seen below
kid's game. I love to work with kids, I love them I'm good of handling them and provide them sports and games but teach magic games. honestly I love saving the kids
<br>
<br>
<h2>&nbspContact information:</h2>
+255688444262 is airtel <br>
+255753131703 is vodacom <br>
WhatsApp: +255688444162  <br>
Stephinlawrence@yahoo.com <br>
Stephinlawrence014@gmail.com


{% endblock %}