{% extends "base_lugha.html" %}


{% block content %}
   <div class="row">
      <div class="col-md-12 jumbotron text-center">
         <h2>Karibu Afrika Mashariki: Dreamland</h2>
      </div>
   </div>

   <div class="container">
   <div class="row">
      <div class="col-md-6">
          <!-- src="{{ url_for('static',filename=key)}}" -->
       <a href="{{ url_for('static',filename='./photos/03.11.59.jpeg')}}">  <img src="{{ url_for('static',filename='./photos/03.11.59.jpeg')}}"   alt="mountain" style="width:500px;height:400px;"></a>
      </div>


   
      <div class="col-md-6">
       <a href="{{ url_for('static',filename='./photos/IMG_4903.JPG')}}">  <img src="{{ url_for('static',filename='./photos/IMG_4903.JPG')}}"    alt="paul" style="width:500px;height:400px;"></a>
      </div>
   </div>
</div>


 <p><a href='/Gallery_lugha' >      click here for more pics...</a></p>

 {% endblock %}
