{% extends "base.html" %}





{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>
       
        <p>{{ form.submit() }}</p>
    </form>

    <div id="registered_people"></div>>
    <script src="{{ url_for('static', filename='js/registered_names.js') }}"></script>

    {% endblock %}





